* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
}

#hjernebyggesettet {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 64px 1fr;
}

#topbanner {
  display: block;
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: whitesmoke;
}

#toolbanner {
  display: block;
  grid-column: 1;
  grid-row: 2;
  background-color: whitesmoke;
}

#workspace-wrapper {
  display: block;
  overflow: hidden;
  grid-column: 2;
  grid-row: 2;
}

#workspace {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
}